html, body {
  height: 100%;
}

body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#viewport {
  width: 800px;
  height: 350px;
  position: relative;
  overflow-x: auto;
}

#skyPort {
  width: 800px;
  height: 280px;
  display: flex;
}

#sky {
  height: 280px;
  width: auto;
  background-color: #00bfff;
}

#ground {
  height: 70px;
  width: auto;
  background-color: #d47b4a;
}

#clouds {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.cloud {
  position: relative;
  top: 15px;
  height: 20%;
  width: auto;
}

#mountain {
  margin-top: 52px;
  height: 100px;
  width:  auto;
}
